{% extends 'base.html' %}

{% block content %}
    <!--Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                <p class="lead fw-normal text-white-50 mb-0">View Your Cart...</p>
            </div>
        </div>
    </header>

    <div class="container">
        {% if cart_products %}
        {% for product in cart_products %}
            <br>
            <div class="row">
            <div class="card mb-3">
                <div class="row g-0">

                    <div class="col-md-4">
                        {% if product.is_sale %}
                            <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; left: 1rem; font-size: 18px">
                                Sale
                            </div>
                        {% endif %}
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." style="height: 300px">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>

                            {% if product.is_sale %}
                                <div class="d-flex text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                        &nbsp;&nbsp;<b>Sale</b>&nbsp;&nbsp;
                                    <div class="bi-star-fill"></div>
                                </div>
                                <b>Price: &nbsp;</b><span class="text-muted text-decoration-line-through">&nbsp;${{ product.price }}&nbsp;&nbsp;</span>
                                ${{ product.sale_price }}

                            {% else %}
                                <b>Price: ${{ product.price }}</b>
                            {% endif %}

                            <br><br>

                            <div class="row">
                                <div class="col-md-2 w-auto"><b>Quantity:</b></div>
                                <div class="col-md-2 w-auto">
                                    <select class="form-select form-select-sm" aria-label="Default select example" id="select{{ product.id }}">
                                    <!-- {'4': 5, '7': 9} -->
                                        {% for key, value in quantities.items %}
                                            {% if key == product.id|slugify %}
                                                <option selected>{{ value }}</option>
                                            {% endif %}
                                        {% endfor %}
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="3">4</option>
                                        <option value="3">5</option>
                                    </select>
                                </div>
                            </div>

                            <br>
                            <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                            <button type="button" data-index="{{ product.id }}" class="btn btn-warning update-cart">Update</button>
                            <button type="button" data-index="{{ product.id }}" class="btn btn-danger delete-product">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% else %}
            <h2 align="center">Your Cart Is Empty!!!</h2>
        {% endif %}

    <div align="right">
        <h3><i>Total Price:</i> ${{ total }}</h3><br>
        <a href="{% url 'checkout' %}" class="btn btn-success fs-4">Checkout</a>
    </div>

    </div>
    <br><br><br><br>

<script>
    // Updating the cart
    // Check if button pressed
    $(document).on('click', '.update-cart', function(e){
        e.preventDefault();
        // Grab the product id
        var productid = $(this).data('index');

        $.ajax({
            type: 'POST',
            url: '{% url 'cart_update' %}',
            data: {
                product_id: $(this).data('index'),
                product_qty: $('#select' + productid + ' option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json){
                location.reload();
            },

            error: function(xhr, errmsg, err){

            }
        });
    })

    // Deleting product from the cart
    $(document).on('click', '.delete-product', function(e){
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url 'cart_delete' %}',
            data: {
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json){
                location.reload();
            },

            error: function(xhr, errmsg, err){

            }
        });
    })
</script>
{% endblock %}
