{% extends 'base.html' %}

{% block content %}
    <!-- Header -->
    <header class="bg-dark py-3">
        <div class="container px-5 px-lg-5 my-2">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <p style="text-align: justify">
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo mi, sollicitudin vel massa consequat,
                    rutrum viverra mauris. Sed tempor velit a ex vulputate hendrerit. Proin a augue at justo ultricies viverra a consectetur orci.
                    Morbi quis ex id purus dapibus fringilla vitae a turpis. Pellentesque sed imperdiet enim.
                    Curabitur blandit venenatis magna, et feugiat lorem pulvinar vel. Nunc id nisi facilisis, accumsan erat a,
                    congue risus. Duis mollis mollis bibendum. Phasellus eu purus tristique, elementum neque in, mollis ipsum.
                    Nullam elementum ante eget lectus sagittis auctor. Nulla viverra nisi a lorem viverra rutrum vitae ut nulla.
                    Maecenas lobortis libero libero, at mollis massa sagittis quis.
                    <br><br>
                    Fusce mattis luctus ex nec faucibus. Nulla dictum ante ut vestibulum venenatis.
                    Duis fringilla lectus sed tincidunt interdum. Phasellus dictum risus nulla. Nulla facilisi.
                    Duis pulvinar dolor in risus rutrum laoreet. Integer id justo quis velit finibus blandit non elementum sapien.
                    Curabitur faucibus mi eget ligula dignissim vestibulum. Suspendisse potenti. Donec ut finibus est.
                    Curabitur at massa varius, egestas erat eu, tempor orci. Vivamus diam arcu, vulputate ut turpis a, ultrices posuere diam.
                    <br><br>
                    Cras iaculis enim erat, id luctus sapien blandit pretium. Vivamus maximus finibus nibh ut vulputate.
                    Maecenas eu purus sit amet erat varius molestie. Vivamus eleifend placerat ex, eget lobortis ipsum auctor ut.
                    Pellentesque imperdiet placerat pretium. Nulla et eros molestie, facilisis nisi nec, viverra dui.
                    Nunc at turpis fringilla, tempor est in, sodales ante. Aenean rhoncus blandit turpis, sit amet elementum tortor.
                    Suspendisse nec felis ullamcorper, tristique ligula ac, faucibus libero. Vivamus sollicitudin dapibus massa nec accumsan.
                    Ut dignissim tortor eu lorem dapibus, ac rhoncus metus imperdiet. Praesent lorem purus, sollicitudin vitae est quis, varius vulputate turpis.
                    Integer sed purus nisi. Sed ac ante ornare, ullamcorper lorem sit amet, varius ipsum. Ut vehicula mi felis, at placerat ante congue nec.
                    <br><br>
                </p>
            </div>
        </div>
    </div>
{% endblock %}