{% extends 'base.html' %}

{% block content %}
    <!-- Header -->
    <header class="bg-dark py-1">
        <div class="container px-5 px-lg-5 my-1">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Register</h1>
                <p class="lead fw-normal text-white-50 mb-0">Register For A User Account</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br>
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-info">Register</button>

                    <br><br><br><br><br><br><br><br><br><br><br><br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}