{% extends 'base.html' %}

{% block content %}
    <!-- Header -->
    <header class="bg-dark py-1">
        <div class="container px-5 px-lg-5 my-1">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Update Profile</h1>
                <p class="lead fw-normal text-white-50 mb-0">Update User Profile</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br>
                <form action="{% url 'update_user' %}" method="POST">
                    {% csrf_token %}

                    {{ user_form.as_p }}

                    <button type="submit" class="btn btn-warning">Update Profile</button>
                    <a href="{% url 'update_password' %}" class="btn btn-success">Update Password</a>
                </form>
                <br><br><br><br><br>

            </div>
        </div>
    </div>
{% endblock %}